body {
	background: rgb(70, 69, 69);
}
* {
	font-family: "Potta One", cursive;
}
nav {
	background: rgba(221, 218, 218, 0.123);
}
h1 {
	background: rgba(221, 218, 218, 0.123);
	margin-bottom: auto 0;
	text-align: center;
	box-shadow: 10px 5px 10px rgba(255, 255, 255, 0.295);
}
